html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#menuToggle {
  position: relative;
  z-index: 1;
 }

#menuToggle input {
  position: absolute;
  width:40px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; /* in order to place the checkbox over the hamburguer */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block; /* to ensure that each span element occupies its own line. */
  width: 33px;
  height: 4px;
  margin-bottom: 5px; /* create some spacing between the span elements. */
  position: relative; /* allow for positioning changes in relation to the parent div.*/
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1; /* ensure that the span element is under the checkbox */
}

#menu {
  position: absolute; /* allow us to position the menu on top of the rest of the content. */
  left: -300px;/* This property moves the menu outisde of the viewport*/
  top: 80px; /*This property sets the distance between the top edge of the menu and the top edge of the #menuToggle div.*/
  width: 200px; 
  margin: -100px 0 0 -50px;/* The negative margin values are used to move the menu up and to the left to center it vertically and horizontally within the #menuToggle div. */
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none; /* removes the default bullet points of the list. */
  -webkit-font-smoothing: antialiased; /*This property sets the font smoothing for webkit browsers. */
  
  transition: left 0.5s; /* This property sets the transition effect for the left property. This will create a smooth animation when the menu slides in from the left.*/
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  left:40px;
}